
@{
    ViewBag.Title = "Home";
}

    <h4>Efeture o Login para acessar o cadastro</h4>

@if (TempData["Mensagem"] != null)
{
    <div class="alert alert-success">
        @TempData["Mensagem"]
    </div>
}


